#icon1{
	background: url(../img/icons/capote_all.png) no-repeat center;
}

#icon2{
	background: url(../img/icons/wing_all.png) no-repeat center;
}

#icon3{
	background: url(../img/icons/front_bumper.png) no-repeat center;
}

#icon4{
	background: url(../img/icons/mirrors.png) no-repeat center;
}

#icon5{
	background: url(../img/icons/lights.png) no-repeat center;
}

#icon6{
	background: url(../img/icons/handle.png) no-repeat center;
}

#icon7{
	background: url(../img/icons/fog_lights.png) no-repeat center;
}

#icon8{
	background: url(../img/icons/thresholds_internal.png) no-repeat center;
}

#icon9{
	background: url(../img/icons/wing_part.png) no-repeat center;
}

#icon10{
	background: url(../img/icons/capote_part.png) no-repeat center;
}

#icon11{
	background: url(../img/icons/door_staff.png) no-repeat center;
}

#icon12{
	background: url(../img/icons/rear_bumper_shelf.png) no-repeat center;
}

